body {
  background-image: url("Background.jpeg");
  background-size: auto;
  background-repeat: repeat;
  background-color: #cccccc;
 }

 div {
   background: black;
   background-position: left;
   min-width: 1200px;
   margin-left: 100px;
   margin-right: 100px;
 }

.navBar {
  color: white;
  margin: auto;
  text-align: center;
  font-family: "Tahoma", monospace;
}

header img {
  height: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

header a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tahoma", monospace;
}

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 100px;
  margin-left: 100px;
}

img#mainPicture {
  height: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#AboutMe, #Portfolio, #Contact {
  color: white;
  text-align: center;
  font-family: "Tahoma", monospace;
  margin-right: auto;
  margin-left: auto;
}

#AboutMe p {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-weight: lighter;
}

